:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --background: #e5e5e5;
  --background-page-color: #ffffff;
  --background-box-primary: #2f303a;
  --background-box-secondary: #f5f4fa;
  --background-button: #2196f3;
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-blue: #2196f3;
  --text-color-light: #ffffff;
  --text-color-contact-footer: #ffffff;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-page-color);
  color: var(--text-color-primary);
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.logo {
  color: var(--text-color-blue);
  font-family: var(--font-secondary);
  font-size: 26px;
}
.logo-color {
  color: var(--text-color-primary);
}
.link-contact {
  color: var(--text-color-secondary);
  font-weight: 500;
  line-height: 1.1;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--text-color-blue);
}
.link-navi {
  color: var(--text-color-primary);
  font-weight: 500;
  line-height: 1.1;
}
.link-navi:hover,
.link-navi:focus {
  color: var(--text-color-blue);
}
.headline-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}
.button-headline {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--background-button);
  color: var(--text-color-light);
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.headline-feature {
  color: var(--text-color-primary);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.description {
  color: var(--text-color-secondary);
  line-height: 1.7;
}
.headline-secondary {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.headline-team {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.team-descripion {
  color: var(--text-color-secondary);
  font-size: 16px;
  text-align: center;
}
.link-contact-footer-email,
.link-contact-footer-tel {
  color: var(--text-color-contact-footer);
  line-height: 1.7;
}
.link-contact-footer-tel {
  text-decoration-line: underline;
}
.link-address-footer {
  color: var(--text-color-light);
  line-height: 1.7;
}
.button-primary-portfolio {
  color: var(--text-color-primary);
  background: var(--background-box-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
}
.button-primary-portfolio:hover,
.button-primary-portfolio:focus {
  background: var(--background-button);
  color: var(--text-color-light);
}
.headline-main-por {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.descripion-main-por {
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.9;
}
