:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --background: #e5e5e5;
  --background-page-color: #ffffff;
  --background-box-primary: #2f303a;
  --background-box-secondary: #f5f4fa;
  --background-button: #2196f3;
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-blue: #2196f3;
  --text-color-light: #ffffff;
  --text-color-contact-footer: rgba(255, 255, 255, 0.6);
  --border-bottom-color: #ececec;
  --border-bottom-color-main-por: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-page-color);
  color: var(--text-color-primary);
  margin: 0 auto;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
.section {
  padding: 94px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* SEKCJA MENU */
.logo {
  color: var(--text-color-blue);
  font-family: var(--font-secondary);
  font-size: 26px;
}
.logo-color {
  color: var(--text-color-primary);
}
.logo-color-footer {
  color: var(--text-color-light);
}

.header-border {
  border-bottom: 1px solid #ececec;
}
.head {
  display: flex;
}
.navi-logo {
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.link-contact {
  color: var(--text-color-secondary);
  font-weight: 500;
  line-height: 1.1;
  display: block;
  width: max-content;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--text-color-blue);
}
.link-navi {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  padding-top: 37px;
}
.link-navi:hover,
.link-navi:focus {
  color: var(--text-color-blue);
}
.navi-contact {
  display: flex;
  gap: 50px;
}
.navi-link,
.navi-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation {
  list-style: none;
  display: flex;
  gap: 46px;
  padding-right: 371px;
}
/* SEKCJA HERO */
.hero-main {
  background-color: var(--background-box-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 200px 0;
}

.headline-primary {
  color: var(--text-color-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
}
.button-headline {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--background-button);
  color: var(--text-color-light);
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 41px;
}
/* NASZE ATUTY */
.asset {
  display: flex;
  justify-content: space-between;
  padding-top: 101px;
  width: 1170px;
  height: 101px;
}
.headline-asset {
  color: var(--text-color-primary);
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
}
.asset-description {
  color: var(--text-color-secondary);
  line-height: 1.7;
  font-size: 14px;
  padding-top: 10px;
}
/* SEKCJA CZYM SIE ZAJMUJEMY */
.headline-secondary-items {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
/* SEKCJA NASZ ZESPÓŁ */
.team-list {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.headline-secondary {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.headline-team {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}
.team-descripion {
  color: var(--text-color-secondary);
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
.light-primary {
  background-color: var(--background-page-color);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.light-secondary {
  background-color: var(--background-box-secondary);
}
/* SEKCJA STOPKA */
.footer {
  background-color: var(--background-box-primary);
  padding-top: 60px;
}
.link-footer {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 8px;
}
.link-contact-footer {
  color: var(--text-color-contact-footer);
  line-height: 1.7;
}
.link-address-footer {
  color: var(--text-color-light);
  line-height: 1.7;
}
/* KARTA POTFOLIO */
.testline {
  display: flex;
  gap: 8px;
  padding-top: 94;
  padding-bottom: 50px;
  justify-content: center;
}
.button-primary-portfolio {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  background: var(--background-box-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
  border-radius: 4px;
  width: 121px;
  height: 38px;
}
.button-primary-portfolio:hover,
.button-primary-portfolio:focus {
  background: var(--background-button);
  color: var(--text-color-light);
}
.main-por {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.headline-main-por {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px 4px;
}
.descripion-main-por {
  color: var(--text-color-secondary);
  font-size: 16px;
  line-height: 1.9;
  padding: 4px 24px 20px;
}

.list-main-por {
  border: 1px solid var(--border-bottom-color-main-por);
  flex-basis: calc((100% - 50px) / 3);
}
